.registry-container {
  padding: 30px;
  height: 100%;
  overflow-y: hidden;
}

.registry-container-top {
  vertical-align: middle;
  height: 86%;
  overflow: auto;
}

.registry-container-row:hover {
  background: rgb(241, 239, 239);
}

.registry-container-row {
  height: 30px;
  border-bottom: 1px solid #f1f4f5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .registry-container-title {
    padding-left: 15px;
  }
  .registry-container-right {
    float: right;
    padding-right: 40px;
  }
}

.container-info {
  height: 100%;
  overflow-y: scroll;
}

.breadcrumb {
  display: flex;
  justify-content: center;
  height: 6%;
  padding-bottom: 20px;

  .title {
    color: #a4331c !important;
    font-weight: 600 !important;
  }
  .icon {
    padding-left: 10px;
  }
}

.icono {
  color: darkgreen;
  padding-left: 25px;
  font-size: 20px;
}

.registry-hr {
  padding-left: 20px;
}

.registry-container-bottom {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  height: 14%;
  width: 100%;
  padding-top: 16px;

  .button-left {
    background-color: white;
    color: #364959;
    border: 1px solid #c8d1d3;
    border-radius: 30px;
    padding: 10px 25px 10px 25px;
    font-size: 15px;
  }

  .button-left:hover {
    background-color: #01604c;
    border: 1px solid #01604c;
    color: white;
  }

  .button-right {
    background-color: #01604c;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 10px 25px 10px 25px;
    font-size: 15px;
  }
}
