.card-tab-management {
  background: transparent;
  padding: 25px;
  text-align: center;
  border: 2px solid #0069d9;
  border-radius: 5px;
  color: #0069d9;
  font-weight: 600;
}
.card-tab-management:hover {
  background: #0069d9;
  color: white;
  transition: 0.2s;
  cursor: pointer;
}

.title {
  font-size: 20px;
  margin-bottom: 5px;
}

.gap-card-container {
  gap: 5% 5%;
  justify-content: center;
  padding-top: 30px;
}
