::-webkit-scrollbar {
  display: none;
}

.table-responsive {
  height: calc(100vh - 300px) !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.title-color {
  color: #212d3e;
  text-align: center;
  vertical-align: middle;
}

.gray-item {
  color: #a5a8ac;
}

tr td {
  text-align: center !important;
  vertical-align: middle !important;
}

tbody tr {
  height: 100px;
}

.tableFixHead thead tr th {
  padding-bottom: 10px;
}

.tableFixHead tbody:nth-of-type(1) tr:nth-of-type(1) td {
  border-top: none !important;
}

.tableFixHead thead th {
  border-top: none !important;
  border-bottom: none !important;
  box-shadow: inset 0 -2px 0 #000000;
  padding: 2px 0;
  background-clip: padding-box;
}

.tableFixHead table {
  border-collapse: unset !important;
  border-spacing: 0px !important;
}

.tableFixHead {
  overflow: scroll !important;
  height: 10px !important;
}
.tableFixHead table thead th {
  position: sticky !important;
  top: 0 !important;
  z-index: 0 !important;
  background-color: white !important;
}
.tableFixHead table tbody {
  z-index: -1 !important;
}

.gray-text {
  color: lightslategray !important;
}

.css-1s2u09g-control {
  min-height: 50px !important;
  height: 50px !important;
  background-color: #eef3f4 !important;
  border: none;
}
