.form-content {
  padding: 10px;
  color: black;
  font-family: Europa, Roboto;
  font-style: normal;
  font-weight: bold;
  .form-content-row {
    padding-bottom: 1.5%;
    align-items: center;
    .content-row-title {
      color: #2d6329;
      font-size: x-large;
      font-style: italic;
    }
  }

  .form-content-input {
    -webkit-appearance: none;
    appearance: none;
    border: 0;
    color: #abb4ba;
    transition: all 0.15s ease;
    width: -webkit-fill-available;

    &:hover {
      background-color: #e7e7e7bd;
      box-shadow: inset 0 -1px 0 rgba(lightgrey, 0.5);
      width: -webkit-fill-available;
    }

    &:focus {
      background-color: #e7e7e7bd;
      color: black;
      outline: none;
      box-shadow: inset 0 -1px 0 #01604c;
      width: -webkit-fill-available;
    }
  }

  &:focus {
    background-color: #e7e7e7bd;
    color: black;
    outline: none;
    box-shadow: inset 0 -1px 0 #01604c;
    width: max-content;
  }
}
.error {
  color: red !important;
}

.custom-button {
  background-color: #1a6132;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 10px 25px 10px 25px;
  font-size: 15px;
}

.generate-password-button {
  background-color: #0069d9;
  padding: 7px;
  border: none;
  border-radius: 5px;
  width: 190px;
  color: white;
}

.input-form {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #eef3f4;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input-form:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7f6;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
