.listItem {
    width: 90%;
    margin-bottom: 8px;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.listItemHeader {
    display: flex;
    width: 100%;
    justify-content: space-between;
    
    color:rgba(75,75,75,1);
}

.clickable {
    cursor: pointer;
}

.textWithLeftIcon {
    display: flex;
    align-items: center
}

.card {
    background-color: #F0F4F8;
    color: #89929A;
    font-size: 18px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.cardContainer {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.cardBody {
    background-color: transparent !important;
    border: none !important;
}

.card-body {
    padding: 0 !important;
}

.cardButtons {
    justify-content: flex-end;
    display: flex;
    margin-top: 15px;
}

.cardTitle {
    display: flex;
    flex-direction: column;
}

.greenText {
    color: rgba(132,219,117,1);  
}

.orangeText {
    color: rgba(253,162,71,1);  
}

.redText {
    color: rgba(255,80,85,1);
}

.circleIcon {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-right: 20px
}

.greenIcon {
    background-color: rgba(132,219,117,1); 
}

.orangeIcon {
    background-color: rgba(253,162,71,1); 
}

.redIcon {
    background-color: rgba(255,80,85,1);
}

.primaryText {
    font-size: 18px;
    text-transform: capitalize;
}

.secondaryText {
    font-size: 14px;
    text-transform: capitalize;
}

.secondaryTextColor {
    color: rgba(172,178,185,1) !important;
}

.icon-button {
    cursor: pointer;
    color: #89929A;
}

.iconSize {
    font-size: 2rem;
}

table {
    width: 100%;
}

table thead th {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgba(172,178,185,1);
    padding-bottom: 5px;
}

table tbody {
    font-size: 16px;
    /* color: rgba(116,138,157,1); */
    color: #748A9D;
}

table tbody tr td {
    text-transform: capitalize;
}

.cardContainer .white {
    border-top: 2px solid white;
    opacity: 1 !important;
    background-color: ghostwhite !important;
}

.avatar {
    margin-right: 15px;
    color: #89929A;
    font-size: 1.5rem;
}

@media (min-width: 576px) {
    .primaryText {
        font-size: 16px;
        text-transform: capitalize;
        font-family: 'Helvetica' !important;
    }

    .circleIcon {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        margin-right: 20px
    }
  }

