.menu-container {
  margin: 10px;
  height: 780px;
}

.boxes-container {
  display: flex;
  justify-content: space-around;
}

.blue-box {
  width: 30%;
  height: 400px;
  background-color: #479fd7;
  border-radius: 3px;
  --box-shadow-color: gray;
  box-shadow: 5px 5px 10px var(--box-shadow-color);
}
.green-box {
  width: 30%;
  height: 400px;
  background-color: #8bb83d;
  border-radius: 3px;
  --box-shadow-color: gray;
  box-shadow: 5px 5px 10px var(--box-shadow-color);
}
.red-box {
  width: 30%;
  height: 400px;
  background-color: #ff7351;
  border-radius: 3px;
  --box-shadow-color: gray;
  box-shadow: 5px 5px 10px var(--box-shadow-color);
}

.top-box {
  margin-top: 5px;
  text-align: center;

  .icon {
    color: #212d3e;
  }
  span {
    color: white;
    font-size: 40px;
  }
}
.bottom-box {
  color: white;
  text-align: center;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: 70px;
  font-size: 23px;
}

.table-container {
  margin-top: 25px;
  overflow: scroll !important;
  p {
    padding-left: 25px;
  }
}

.menu-table-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 310px;
}

.menu-table-container table thead th {
  border-top: none !important;
  border-bottom: none !important;
  box-shadow: inset 0 -1px 0 #000000;
  padding: 2px 0;
  background-clip: padding-box;
  position: sticky !important;
  top: 0 !important;
  z-index: 0 !important;
  background-color: white !important;
}

.menu-table-container thead tr th {
  padding-bottom: 10px;
}

.menu-table-container tbody tr {
  height: 90px !important;
}
