.category {
  font-size: 15px;
  color: rgb(80, 105, 137);
  text-transform: uppercase;
  padding: 25px 0 10px 0;
}

.background-image {
  background-color: #0b4b10;
}

.item {
  font-size: 15px;
  color: #8bbce6;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.content-menu {
  padding: 15px;
}

.menu-title {
  color: white;
}

.sidebar-footer {
  width: 100%;
  background: transparent;
  padding-bottom: 14px;
}

.sidebar-footer .copyright {
  font-size: 11px;
  color: white;
  background: transparent;
}

.logo {
  background: transparent;
  background-image: url(../../assets/images/LoginBackgroundImage.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: cover;
  margin-top: 0px;
  margin-bottom: 45px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-sidebar {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 305px);
  /* display: flex; */
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  padding: 25px;
}

.logo img {
  height: 75px;
  width: auto;
}

.active {
  min-width: 280px;
  max-width: 280px;
  background: #212d3e;
  color: rgba(75, 75, 75, 1);
  font-weight: 500;
  height: 100%;
  justify-content: space-between;
}

.Borrar {
  color: #ffffff;
}

.nav-link i {
  font-size: 23px !important;
}

.content-text {
  font-size: 17px !important;
  margin-left: 10px !important;
}

div.sidebar-webpage-hidden {
  display: none !important;
}
.nav-link {
  font-size: 14px !important;
  color: #fff !important;
  padding-left: 26px;
  display: inline-flex !important;
  align-items: center;
  font-weight: 500;
  width: 100%;
}

* {
  scrollbar-width: thin;
  scrollbar-color: transparent;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 0px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid transparent;
}

.nav-link.sidebar-nav-link-active {
  color: #81c9fa !important;
}

.nav-link:hover {
  background-color: rgba(120, 120, 120, 0.5) !important;
}

.nav-link i {
  margin-right: 5px;
}
