@import "../../../variables.scss";

.NavBar {
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px;

  h3 {
    color: #212529 !important;
  }
}

.NavBarMobile {
  width: 100%;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
}

.NavBarMobile h3 {
  color: #ffffff !important;
}

/* Style buttons */
.BtnIcon {
  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: $navbar-icon; /* White text */
  padding: 8px; /* Some padding */
  font-size: 24px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.BtnIcon:hover {
  opacity: 0.7;
}

.custom-button {
  //background: #0095a6 linear-gradient(180deg,#26a5b3,#0095a6) repeat-x;
  //color: white !important;
  //background-color: #303640 !important;
  //border-color: #303640 !important;
  //transition: background-color 1s;

  font-size: 16px !important;
  font-weight: 600 !important;
  border-radius: 36px !important;
  border: 2px solid #ff5055 !important;
  color: #ff5055 !important;
  height: 50px !important;
  width: 14rem;
  background-color: transparent !important;
  transition: 0.3s !important;
}
.custom-button:hover {
  background-color: #ff5055 !important;
  color: white !important;
}

.custom-mobile-button {
  //background: #0095a6 linear-gradient(180deg,#26a5b3,#0095a6) repeat-x;
  color: #303640 !important;
  background-color: white !important;
  border-color: white !important;
  transition: background-color 1s;
}

.custom-button:hover {
  background-color: #82888b;
}

.custom-button:focus,
.custom-button:active {
  background-color: rgb(117, 99, 99);
  transition: none;
}

.patients-headers,
.holdings-headers {
  margin-bottom: 13px;

  input {
    background-color: #eef3f4;
  }

  button {
    width: 100% !important;
    background-color: #0069d9;
    border-style: none;
    font-size: 12px;
    padding: 10px;
  }
  button:hover {
    background-color: #0069d9;
  }
}

.Username {
  color: $navbar-text;
  margin-top: 0 !important;
  font-size: 1rem !important;
}

.NurseIcon {
  color: $navbar-icon;
}

.search-button {
  width: 100%;
  background: red;
}

.padding-filter {
  height: 50px !important;
}

.padding-search-button {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.button-modal-body {
  background-color: #9c3e25 !important;
  border-style: none;
  color: white;
  text-transform: uppercase;
  padding: 15px;
}

.modal-content {
  height: 200px !important;
  background: black !important;
}

.modal-body {
  height: 200px !important;
  background: black !important;
}
