::-webkit-scrollbar {
  display: none;
}

.table-responsive {
  height: calc(100vh - 300px) !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.container-headers {
  display: inline !important;
}

.container-filters-pagination {
  margin-top: 10px;
  border-bottom: 1px solid #c4c4c4;
}

.icon-data-content {
  cursor: pointer;
  color: #89929a;
  font-size: 1.5rem !important;
}

.title-color {
  color: #212d3e;
  text-align: center;
  vertical-align: middle;
}

.gray-item {
  color: #a5a8ac;
}

tr td {
  text-align: center !important;
  vertical-align: middle !important;
}

tbody tr {
  height: 100px;
}

tbody tr td .farmer-border {
  background: white !important;
  border-radius: 50% !important;
  padding: 13px !important;
  width: 50px !important;
  height: 50px !important;
  box-shadow: 0px 7px 9px !important;
  color: lightgray !important;
  fill: darkred !important;
  margin: 0 auto !important;

  img {
    height: 27px !important;
  }
}

.tableFixHead thead tr th {
  padding-bottom: 10px;
}

.tableFixHead tbody:nth-of-type(1) tr:nth-of-type(1) td {
  border-top: none !important;
}

.tableFixHead thead th {
  border-top: none !important;
  border-bottom: none !important;
  box-shadow: inset 0 -2px 0 #000000;
  padding: 2px 0;
  background-clip: padding-box;
}

.tableFixHead table {
  border-collapse: unset !important;
  border-spacing: 0px !important;
}

.tableFixHead {
  overflow: scroll !important;
  height: calc(100vh - 300px) !important;
}
.tableFixHead table thead th {
  position: sticky !important;
  top: 0 !important;
  z-index: 0 !important;
  background-color: white !important;
}
.tableFixHead table tbody {
  z-index: -1 !important;
}

.gray-text {
  color: lightslategray !important;
}

@media (max-width: 767px) {
  .basic-multi-select {
    width: 100%;
  }

  .container-filters-pagination {
    margin-top: 135px;
    border-bottom: none;
  }

  .stocks-list {
    tbody {
      height: calc(100vh - 300px);
    }
  }
}

.css-1s2u09g-control {
  min-height: 50px !important;
  height: 50px !important;
  background-color: #eef3f4 !important;
  border: none;
}
