.nav {
  padding-left: 17px !important;
  padding-right: 38px !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  padding: 8px 15px;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  background: #374558;
}

.navRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .nav {
    justify-content: flex-end;
    display: none;
  }
  .navRight {
    display: none;
  }
}

.navRight p {
  color: white;
  margin: 0 !important;
}

.navRight i {
  color: white;
  padding-left: 8px;
}
