.flex-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.row-container {
  display: flex;
  align-items: center;
  margin-top: 100px;
  .row-left {
    margin-left: 25px;
  }
  .row-right {
    margin-left: 25px;
    padding-left: 30px;
    .gray-text {
      font-size: small;
      color: lightslategray;
    }
  }
}
