@import url(../../assets/scss/_app-variables.scss);

.empty-select {
	color: #71778F !important;
}

.rct-block-title {
    padding: $block-title-spacing;
    position: relative;
  // @include border(1px solid, $gray-300, bottom);
  .badge {
      vertical-align: middle;
  }
    h4 {
      margin-bottom: 0;
      color: $block-title-color;
      font-size: $block-title-font-size;
      // text-transform: $block-title-transform;
      font-weight: $block-title-font-weight;
      line-height: 30px;
}
  .contextual-link {
      position: absolute;
      top: 20px;
      right: 20px;
      a {
          color: $block-contextual-color;
          font-size: $block-contextual-font-size;
          margin-right: 15px;
          &:hover {
              color: $blue;
          }
          &:last-child {
              margin-right: 0;
          }
      }
  }
}

.rct-block {
	background-color: $block-bg;
	border-radius: $block-border-radius;
	box-shadow: $block-shadow;
	border: $block-border;
	transition: $block-transition;
	margin-bottom: $block-margin-bottom;
	position: relative;
	.rct-block-content {
		padding: $block-spacing;
	}
	&:hover {
		box-shadow: $block-hover-shadow;
	}
}

.collapsible-card-filter {
	top: 13px !important;
}