@import "../../../variables.scss";

.padding {
  padding: 0px 10px;
}

.left-select {
  cursor: pointer;
}

.flex-title {
  display: flex !important;
}

.NavBar {
  width: 100%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  h3 {
    color: #212529 !important;
    margin-left: 5px !important;
  }
}

.NavBarMobile {
  width: 100%;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
}

.NavBarMobile h3 {
  color: #ffffff !important;
}

/* Style buttons */
.BtnIcon {
  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: $navbar-icon; /* White text */
  padding: 8px; /* Some padding */
  font-size: 24px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.BtnIcon:hover {
  opacity: 0.7;
}

.custom-button {
  font-size: 16px !important;
  font-weight: 600 !important;
  border-radius: 36px !important;
  border: 2px solid #1a6132 !important;
  color: #1a6132 !important;
  height: 50px !important;
  width: 14rem;
  background-color: transparent !important;
  transition: 0.35s !important;
}
.custom-button:hover {
  background-color: #1a6132 !important;
  color: white !important;
}

.custom-mobile-button {
  //background: #0095a6 linear-gradient(180deg,#26a5b3,#0095a6) repeat-x;
  color: #303640 !important;
  background-color: white !important;
  border-color: white !important;
  transition: background-color 1s;
}

.custom-button:hover {
  background-color: #82888b;
}

.custom-button:focus,
.custom-button:active {
  background-color: rgb(117, 99, 99);
  transition: none;
}

.Username {
  color: $navbar-text;
  margin-top: 0 !important;
  font-size: 1rem !important;
}

.NurseIcon {
  color: $navbar-icon;
}
