@import url("https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import "react-datepicker/dist/react-datepicker.css";

html,
body {
  font-family: "Roboto", sans-serif !important;
}

.css-1pahdxg-control {
  min-height: 50px !important;
}

.css-1pahdxg-control:hover {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}
