$background-default: #F0EDF7;
$background-sidebar: #3F51B5;
$text-primary: #2a175e;
$text-secondary: #33293C;
$text-error: #ff0000;
$btn-bcolor-primary: #583877;
$btn-color-primary: #FFF;
$placeholder: #33293C;
$navbar-icon: #645471;
$navbar-text: #9597A6;
$title: #645471;
$input-text: #919191;
