.login-container {
  height: 100vh;
  width: 100%;
  background: url("../../assets/images/loginscreen1.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
}

.login-card {
  height: 65%;
  width: 30%;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  align-content: center;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 45px;
  text-align: center;
  font-size: small;
}

.login-title {
  height: 20%;
}

h2 {
  margin-bottom: 25px;
}

.login-content {
  margin-top: 20px;
  margin-bottom: 12px;
  padding-top: 5px;
  height: 70%;

  .login-form {
    height: 60%;
    width: 90%;
    margin: 0 auto;
    text-align: left;

    .login-text-password {
      margin-top: 10 + px;
      text-align: right;
    }

    input {
      border: 0;
      border-bottom: 1.5px solid #171717;
      width: 100%;
      background: transparent;
    }

    .form-top {
      margin-top: 5%;
      margin-bottom: 10%;
    }
    .form-bottom {
      margin-top: 5%;
    }

    .form-label {
      margin-bottom: 10px;
    }
  }

  .login-button {
    background-color: #0069d9;
    width: 90%;
    padding-top: 12px;
    padding-bottom: 12px;
    border: none;
  }
}

.login-password {
  bottom: 0;
}

.login-text {
  text-decoration: none;
  color: #0069d9;

  &:hover {
    color: #0069d9;
  }
}
